.tables{
    position: relative;
    top: 50px;
    font-size: larger;
}

#homeTeam{
    
    float: left;
    left: 100px;
}

#awayTeam{
    right: 100px;
    float: right
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    // border: 3px solid green;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    // border: 3px solid green;
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    // border: 3px solid green;
  }

  .scorers{
    // border-style: solid;  
    // border-color: red;
    display: flex;  //this puts the items in the middle
    // flex-wrap: wrap;
    justify-content: center;
    // // align-items: flex-end;
    // // clear: both;
    // // justify-content: center;
    // // align-items: center;
    // // overflow: hidden;
    // white-space: wrap;
    // text-align: center;
    // display: flex;  
    // flex-direction: wrap;
    // height: 20x;
  }

  .homescorers{  
    // display: flex;
    // flex-wrap: wrap;
    // justify-content:  center;
    // white-space: nowrap;
    // position:relative;
    // right:100px;
    // border: 3px solid green;
    padding: 1;

    // width:10%;
  }

  .awayscorers{
    // display: flex;
    // flex-wrap: wrap;
    // justify-content:  center;
    // white-space: nowrap;
    
    // position: relative;
    // left: 100px;
    // border: 3px solid green;
    // padding: 1;
    // width:10%;
    // clear: right;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: inline-block;
    *display: inline;
    
}
  .playanddisplay{
    font-size: larger;
    position:relative;
    top:150px;
  }

  .football {
    width: 17px;
    height: auto;
}