<div class="tables" id = "homeTeam">
<table>
  <tr>
    <th>Position</th>
    <th>Names</th>
    <th>Potential</th>
  </tr>
    <tr *ngFor="let player of homeTeam">
      <td>{{player.startingPosition}}</td>
      <td>{{player.lastName}}</td>
      <td>{{player.potential}}</td>
    </tr>
  </table>
</div>
<div class = "tables" id = "awayTeam">
  <table>
    <tr>
      <th>Position</th>
      <th>Names</th>
      <th>Potential</th>
    </tr>
      <tr *ngFor="let player of awayTeam">
        <td>{{player.startingPosition}}</td>
        <td>{{player.lastName}}</td>
        <td>{{player.potential}}</td>
      </tr>
    </table>
  </div>

  <div class = button>
  <button (click)="getAll()" mat-fab extended>
    <mat-icon>Play</mat-icon>
  </button>
  <div> {{result.score}}</div>
  <div> {{result.homeScorers}}</div>
  <div> {{result.awayScorers}}</div>
 
</div>