<div class="tables" id = "homeTeam">
<table>
  <tr>
    <th>Position</th>
    <th>Names</th>
    <th>Potential</th>
  </tr>
    <tr *ngFor="let player of homeTeam">
      <td>{{player.startingPosition}}</td>
      <td>{{player.lastName}}</td>
      <td>{{player.potential}}</td>
    </tr>
  </table>
</div>
<div class = "tables" id = "awayTeam">
  <table>
    <tr>
      <th>Position</th>
      <th>Names</th>
      <th>Potential</th>
    </tr>
      <tr *ngFor="let player of awayTeam">
        <td>{{player.startingPosition}}</td>
        <td>{{player.lastName}}</td>
        <td>{{player.potential}}</td>
      </tr>
    </table>
  </div>

  <div class = playanddisplay>

  <div class = button>
  <button (click)="getAll()" mat-fab extended>
    <mat-icon>Play</mat-icon>
  </button>
</div>

<!-- <div class="container">
  <div class="left-scorer">{{scorers.homeTeam}} {{scorers.homeTeamScore}}</div>
  <div class="center-scorer">-</div>
  <div class="right-scorer">{{scorers.awayTeamScore}} {{scorers.awayTeam}}</div>
</div> -->

<div class="title2">
  <div class="container2">
      <div class = left2>{{scorers.homeTeam}} {{scorers.homeTeamScore}}</div>
      <div class="center2">-</div>
      <div class = right2>{{scorers.awayTeamScore}} {{scorers.awayTeam}}</div>
  </div>
</div>


<div class = scorers>
<table class = "homescorers">
  <tr *ngFor="let row of scorers.Scorer">
    <div *ngIf="(row.team) =='home'">
           {{ row.name }} 
          {{ row.goals }}
          <img class = football [src]="'/assets/football.png'"/> 
          </div> 
      </tr>  
</table>

<table class = "awayscorers">
  <tr *ngFor="let row of scorers.Scorer">
    <div  *ngIf="(row.team) =='away'">
          <td> {{ row.name }} </td>
          <td> {{ row.goals }}</td>
          <td><img class = football [src]="'/assets/football.png'"/> </td>
          </div> 
      </tr>  
</table>
</div>


<!-- <div class="title">
  <div class="center">
      -
      <div class="left">
        {{scorers.homeTeam}} {{scorers.homeTeamScore}}
      </div>
      <div class="right">
        {{scorers.awayTeamScore}} {{scorers.awayTeam}}
      </div>
  </div>
  </div> -->



